body {
	font: 16px Helvetica, sans-serif;
	box-sizing: border-box;
}

a, a:hover, a:hover, a:focus {
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	font-family: Utsaah;
}

h1 {
	padding-top: 15px;
	font-size: 2.5em;
	color: $txt-main;
}

h2 {
	margin-top: 25px;
	font-size: 3.125em;
	color: $txt-main;
}