@import "reset";

.group:before,
.group:after {
  content: "";
  display: table;
} 
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.darkblue {
	color: $txt-darkblue;
}

.white {
	color: $txt-main;
}

.row-full > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}